language: node_js
node_js:
  - '8'
  - '10'
  - 'node'
git:
  depth: 1
  quiet: true
env:
  - NODE_ENV=development
cache:
  yarn: true
  directories:
    - node_modules
script:
  - yarn build
  - if-node-version 10 && yarn test:cov || yarn test
