language: node_js
node_js:
  - '8'
  - '10'
  - 'node'
git:
  depth: 1
  quiet: true
env:
  - NODE_ENV=TEST
cache:
  yarn: true
  directories:
    - 'node_modules'
script: npm run build && jest --coverage && cat ./coverage/lcov.info | coveralls && rm -rf ./coverage
